<ul class="list-inline">
    <li><a href="https://github.com/JAFong" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="https://twitter.com/JAFong_"  class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-fw fa-twitter fa-lg"></i></a>
    </li>
    <li><a href="https://instagram.com/jafong_/" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-fw fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/justin.fong.988" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/pub/justin-fong/58/a22/ba" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <!--<li><a href="mailto:gil@gferreira.me" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>  -->
</ul>